@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    height: 100vh;
    background-color: var(--light-gray);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
    background-color: var(--white);
    box-sizing: border-box;
    width: 300px;
    min-height: 465px;
    padding: 15px;
    box-shadow: 0px 0px 30px #c0c0c0;
    border-radius: 20px;
}

.qr-image {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
}

.qr-info {
    text-align: center;
    margin: 20px 5px 0px 5px;
    color: var(--dark-blue);
}

.qr-info h3 {
    font-weight: bold;
    font-size: 21px;
}

.qr-info p {
    color: var(--grayish-blue);
    margin-top: 15px;
    font-weight: normal;
    font-size: 15px;
}