@import "../global.css";

.addon-select {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: 5px 10px;
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    pointer-events: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
}

input[type="checkbox"]:checked {
    background-color: var(--purplish-blue);
    border-color: var(--purplish-blue);
    background-image: url("../assets/images/icon-checkmark.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
}

.addon-select.selected {
    background-color: var(--magnolia);
    border-color: var(--purplish-blue);
}

.addon-select:hover {
    border-color: var(--purplish-blue);
    cursor: pointer;
}

.addon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px
}

.addon-info label {
    font-size: 16px;
}

.addon-info .type {
    font-family: 'Ubuntu Bold';
}

.addon-info .info {
    font-size: 13px;
    color: var(--cool-gray);
}

.addon-select .pricing {
    font-size: 13px;
    color: var(--purplish-blue);
    font-family: 'Ubuntu Bold';
}