@import "../global.css";

.form-title h2 {
    font-size: 22px;
    color: var(--marine-blue);
    font-family: 'Ubuntu Bold';
    margin-bottom: 10px;
}

.form-title h3 {
    color: var(--cool-gray);
    font-size: 14px;
    font-family: 'Ubuntu Regular';
}

.form-title {
    margin-bottom: 15px;
}