@import "../global.css";

.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    min-height: 330px;
    margin: 0 10px;
    transform: translateY(-90px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 20px #00000032;
    color: var(--marine-blue);
}

@media screen and (min-width: 700px) {
    .form-container {
        transform: translateY(0px);
        box-shadow: none;
        background-color: transparent;
        min-height: 400px;
    }
}