@import "../global.css";

.form-step-container {
    background-color: var(--white);
    min-height: 330px;
    margin: 0 20px;
    transform: translateY(-60px);
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 5px 20px #00000032;
    color: var(--marine-blue);
}