@import "../global.css";

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    margin: 10px 0 3px 0;
    font-size: 14px;
    font-family: 'Ubuntu Bold';
}

.input input {
    outline: none;
    height: 35px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Ubuntu Medium';
    padding: 10px 15px;
    color: var(--marine-blue);
    margin-bottom: 10px;
}

.input input:focus {
    outline: none;
    border: 1px solid var(--purplish-blue);
}

.input input::placeholder {
    color: var(--cool-gray);
}

.input .info-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-input span {
    font-size: 13px;
    color: var(--strawberry-red);
}

input.error {
    border-color: var(--strawberry-red);
}