@import "../global.css";

.multi-step-form-container {
    display: flex;
    flex-direction: column;
}

.navigation-button-container {
    transform: translate(0);
    position: fixed;
    left: 0;
    right: 0;
    top: 78vh;
    width: 100%;
    background-color: var(--alabaster);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 700px) {

    .main-container {
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px #00000032;
        background-color: var(--white);
        padding: 5px;
        border-radius: 12px;
    }

    .multi-step-form-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navigation-button-container {
        position: static;
        padding: 10px;
        width: 100%;
        background-color: transparent;
    }
}