@import "../global.css";

.pricing-table {
    font-size: 15px;
}

.pricing-table .table {
    background-color: var(--magnolia);
    padding: 20px;
    border-radius: 10px;
}

.table h4 {
    font-size: 16px;
    font-family: 'Ubuntu Bold';
}

.table .plan-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-pricing {
    font-family: 'Ubuntu Bold';
}

.table .divider {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--cool-gray);
    background-color: transparent;
    height: 5px;
    margin: 10px 0px;
}

.table button {
    border: none;
    background-color: transparent;
    color: var(--cool-gray);
    text-decoration: underline;
    font-family: 'Ubuntu Bold';
    cursor: pointer;
}

.table button:hover {
    color: var(--purplish-blue);
}

.table .addon-container {
    padding: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addon-container .addon-type {
    color: var(--cool-gray);
}

.pricing-table .total-container {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-container .total-price {
    font-family: 'Ubuntu Bold';
    color: var(--purplish-blue);
}