:root {
    /* Colors */

    /* Primary */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* Neutral */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /* Sizes */
    --title-size: 32px;
    --subtitle-size: 28px;
    --label-size: 22px;
    --field-size: 25px;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Regular';
    font-size: 28px;
}

body {
    min-height: 100vh;
    background-color: var(--magnolia);
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu Bold';
    font-size: var(--title-size);
}

p {
    color: var(--marine-blue);
}