/* Font Faces for app */

@font-face {
    font-family: 'Poppins Regular';
    src: url("../assets/fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url("../assets/fonts/Poppins-Bold.ttf") format('truetype');;
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins Extra Bold';
    src: url("../assets/fonts/Poppins-ExtraBold.ttf") format('truetype');;
    font-weight: bolder;
}

@font-face {
    font-family: 'Poppins Extra Bold Italic';
    src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf") format('truetype');;
    font-weight: bolder;
    font-style: italic;
}