@import url("./font-faces.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--off-black);
}

:root {
    /* Primary colors */
    --primary-purple: hsl(259, 100%, 65%);
    --error-color: hsl(0, 100%, 67%);

    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Poppins Regular', sans-serif;
    background-color: var(--off-white);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-color: var(--white);
    margin: 2px 20px;
    padding: 10px 5px 30px 5px;
    border-radius: 25px 25px 100px 25px;
    box-shadow: 0 2px 3px 5px #e5e5e54f;
}

.input-form {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-form label {
    color: var(--smokey-grey);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Poppins Bold';
    font-size: 12px;
    margin: 2px;
}

.input-form input {
    font-family: 'Poppins Bold';
    font-size: 16px;
    max-width: 90px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    color: var(--off-black);
}

.input-form input::placeholder {
    color: var(--smokey-grey);
}

.input-form input:hover {
    cursor: pointer;
    border-color: var(--primary-purple);
}

.input-form input:focus {
    caret-color: var(--primary-purple);
    border-color: var(--primary-purple);
}

.input-form p {
    visibility: hidden;
    font-size: 10px;
    margin: 5px 2px;
    font-style: italic;
}

.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--light-grey);
    margin: 35px 20px
}

.arrow {
    position: absolute;
    background-color: var(--primary-purple);
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.arrow:hover {
    background-color: var(--off-black);
    transition: background-color .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.arrow img {
    max-width: 100%;
    height: auto;
}

.age-output {
    margin: 5px 25px;
}

.age-info {
    font-size: 38px;
    font-family: 'Poppins Extra Bold Italic';
    color: var(--off-black);
}

.age-info span {
    color: var(--primary-purple);
    margin-right: 10px;
}

.error label {
    visibility: visible;
    color: var(--error-color);
}

.error p {
    color: var(--error-color);
    visibility: visible !important;
}

.error input {
    border-color: var(--error-color);
}

@media screen and (min-width: 540px) {
    .divider {
        align-items: end;
        margin: 10px 30px 0 10px;
    }

    .input-form label {
        letter-spacing: 4px;
        font-size: 16px;
    }
    
    .input-form input {
        font-size: 20px;
        max-width: 110px;
    }

    .arrow {
        width: 60px;
        height: 60px;
    }

    .age-info {
        font-size: 45px;
        line-height: 1.1;
    }
}